/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Roboto', sans-serif;
}

.ant-modal-body {
    padding: 42px 24px !important;
}
.ant-modal-mask {
    background-color: rgb(0 0 0 / 78%) !important;
}